@import '../scss/styles.scss';

.cocktail-listing,
.list {
    h2 {
        color: $font-primary;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 15px;
    }
}